<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script>
        angular.module("myapp",[]);
        angular.module("myapp").controller("myCtrl",function($scope,$http){
            $scope.data=[];
            $http.get("json/tsconfig.json").success(function(e){
                $scope.data=e;
            });
        })
    </script>
    <script>
        $(document).ready(function(){
            $("#content_ul").find("a").each(function(index){
                var top=$("#content_div").find(".content").eq(index);
                $(this).click(function(){
                    $(this).parent("li").css("background","#999").siblings("li").css("background","");
//                    $(this).parent("li").find("a").css("color","#fff").parent("li").siblings("li").find("a").css("color","");
                    $('html,body').animate({scrollTop: top.offset().top+"px"}, 800);
                });
            });
        });
    </script>
    <script>
        window.onload=function(){
            window.onscroll=function(){
                var scrollTop = window.pageYOffset|| document.documentElement.scrollTop || document.body.scrollTop;
                console.log(scrollTop);
                var oul=document.getElementById("content_ul");
                var oli=oul.getElementsByTagName("li");
                    if(scrollTop>=0 && scrollTop<640){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[0].style.background="#999";
                    }else if(scrollTop>=640 && scrollTop<1430){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[1].style.background="#999";
                    }else if(scrollTop>=1430 && scrollTop<1710){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[2].style.background="#999";
                    }else if(scrollTop>=1710 && scrollTop<2800){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[3].style.background="#999";
                    }else if(scrollTop>=2800 && scrollTop<3200){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[4].style.background="#999";
                    }else if(scrollTop>=3200 && scrollTop<4000){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[5].style.background="#999";
                    }else if(scrollTop>=4000 && scrollTop<4400){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[6].style.background="#999";
                    }else if(scrollTop>=4400 && scrollTop<4800){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[7].style.background="#999";
                    }else if(scrollTop>=4800 && scrollTop<5000){
                        for(var i=0;i<oli.length;i++){
                            oli[i].style.background="";
                        }
                        oli[8].style.background="#999";
                    }
            };
        }
    </script>
    <style>
        *{margin: 0;padding: 0;}
        li{list-style: none;}
        .content p{float: left;margin-top:10px;}
        .content ul{width:100%;display: block;}
        .content ul li{float: left; list-style: none; margin: 10px;}
        .content ul li a{float: left;text-decoration: none;}
        .clear:after{ content:"200b"; display:block; font-size:0; height:0; clear:both}
        /*IE7/6*/
        .clear{*zoom:1;}
        #content_ul{position: fixed;top: 30%;width:250px;}
        #content_ul li{}
        #content_ul a{text-decoration: none; font-size: 16px;}
        #content_div p{background:#00bfbf; color: white;padding: 10px;}
        #content_div h3{color: white;background: grey; }
        #content_div a{padding:10px 0;}
    </style>
</head>
<body ng-controller="myCtrl">
<div class="carousel">
    <div class="content_left col-lg-2">
        <ol id="content_ul">
            <li ng-repeat="ctgs in data" class="well well-sm"><a class="top" id="{{ctgs.id}}" href="#">{{ctgs.ctg}}</a></li>
        </ol>
    </div>
    <div class="content_right col-lg-10" id="content_div">
        <div ng-repeat="ctgs in data" class="row content">
            <h3 class="well well-sm">{{ctgs.ctg}}</h3>
            <ul ng-repeat="ite in ctgs.item" class="clear well well-sm">
                <p>{{ite.category}}</p>
                <li ng-repeat="item_li in ite.items">
                    <a ng-href="{{item_li.url}}" title="{{item_li.desc}}">{{item_li.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>